body{
	overflow: hidden;
	font-family: 'Raleway', sans-serif;
}
/*scroolbar style Begin*/
::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    background-color: white;
}
 
::-webkit-scrollbar-thumb {
    background-color:#e31e24;
}
/*scroolbar style End*/

.mainContainer{
	background-color:#fff;
	margin:0;
	padding: 0;
	position: absolute;
	width: 100%;
}
#preloader  {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 2000;
    height: 100%;
 }
#status  {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -30px 0 0 -30px;
 }
#status img{
	width:100%;
	opacity: .8
}
	
.screen{
	background-image:url('../images/bg.jpg');
	background-position: center;
	background-size:cover;
	margin:20px;
	width:auto;
	height:95vh;
	box-shadow: 0px 0px 8px #666666;
	transition:1s;
	font-family: 'Raleway', sans-serif;
}
.welcomeText{
	color: white;
	font-size: 4em;
	font-weight: 300;
	padding-top: 5vh;
}
.customerType button{
	position: relative;
	width: 350px;
	margin: 0px 50px 0px 50px;
	background-color: #ff3636;
	border: none;
	outline: none;
	margin-top: 35px;
	padding: 10px;
	cursor:pointer;
	overflow: hidden;	
}
.customerType button a{
	text-decoration: none;
	font-size: 2em;
	color: white;
	font-weight: 300;
}
.customerType button:hover{
	background-color: #ff5858;
}
.customerType{
	position: absolute;
	width: 800px;
	left: 50%;
	margin-left:-400px;
	top: 25vh;
	transition:1s;
	transition-delay: .4s;
}
.formFirst, .formSecond{
	width: 600px;
	position: absolute;
	left: 50%;
	margin-left:-300px;
	top: 25vh;
	transition:1s;
	transition-delay: .4s;

}
.formFirst{
	top:17vh;
}

.formFirst input, .formSecond input{
	position: relative;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: white;
	line-height: 1em;
	font-size: 2.5em;
	margin-bottom: .75em;
	width: 600px;
	padding: 10px;
	background-color: transparent;
	outline: none;
	color: white;
	font-weight: 300;
}
.formFirst input{
	font-size: 2em;
	padding: 10px;
}

.formFirst button,.formSecond button, .addItem button{
	position: relative;
	width: 150px;
	background-color: #ff3636;
	font-size: 2.5em;
	line-height: 2em;
	border: none;
	outline: none;
	color: white;
	font-weight: 300;
	margin-top: 20px;
	cursor:pointer;
	overflow: hidden;	
}
.header{
	position: relative;
	height: 12vh;
	background-color: #ff3636;
	width: 100%;
	overflow: hidden;
}
.brand{
	float: right;
	padding: 0px 22px 0px 0px;
}
.welcome{
	font-size: 4vh;
	line-height: 3em;
	padding-left: 1vw;
	color: white;
	float: left;
	font-weight: 300;
}
.text .text1{
	width: 100%;
	padding: 5px 30px 5px 30px;
}
.ink{
	display: block; 
	position: absolute;
	background: hsl(180, 40%, 80%);
	border-radius: 100%;
	transform: scale(0);
	user-select:none;
}
.ink.animate{
	animation:ripple 0.65s linear;
}
@keyframes ripple{
	100%{opacity:0; transform:scale(2.5);}
}
.addOrder{
	position: relative;
	height: 83vh;
	transition:1s;
	width:100%;
	background-color: rgba(0,0,0,.5);
}
.list{
	background-color: rgba(236,236,236,1);
	height: 540px;
	transition:1s;
}
.bill{
	background-color: rgba(236,236,236,1);
	height: 83vh;
	transition:1s;
}
.item{
	position: relative;
	background-color: #ff3636;
	font-size: 2.85vh;
	line-height:7.4vh;
	color: white;
	margin-top: .08em;
	user-select:none;
	cursor: pointer;
	overflow: hidden;
	font-weight: 200;
	padding:0px 10px;
}
.item:hover{
	background-color: #fe6161;
	font-size: 2.75vh;
	line-height:7.4vh;
	color: white;
	user-select:none;
	cursor: pointer;
}
.itemDetail{
	width: 135px;
	height: 135px;
	background-color: white;
	padding:0px; 
	margin: 20px 0px;
	background-size:cover;
	overflow: hidden;

}

.items{
	padding-top: 10px;
	left: 15px;
	transition:1s;
}
.itemss{
	position: absolute;
	transition:1s;
	width:135px
}
.name{
	padding: 10px;
	color: white;
	font-weight: 200;
	font-size: 20px;
}
.price{
	position: absolute;
	top:105px;
	left: 10px;
	width: 50px;
	color: white;
	font-weight: 500;
}
.circle{
	position: absolute;
	width: 35px;
	height: 35px;
	border-radius: 20px;
	background-color: #ff3636;
	background-image: url("../images/plus.png");
	background-size:cover;
	float: right;
	top: 95px;
	left: 95px;
	box-shadow: 1px 0px 10px black;
	cursor: pointer;
}
.circle1{
	background-image: url("../images/crossWhite.png");
}
.coffee{
	width:80px;	
	padding:10px 0px;
	margin-left: 9vw;
}
.billHeading{
	text-align: center;
	font-size: 4vh;
}
.billDetailsHead, .billSummary{
	border-width: 1px 0px 1px 0px;
	border-color: #272727;
	border-style: dashed;
	margin: 1vh .5vh 0vh .5vh;
	font-size:1.5em
}
.billDetails{
	height:42vh;
	color: black;
}
.proceedButton{
	position: absolute;
	right:8%;
	bottom:30px;
	transition:1s;
}
.totalAmount{
	font-size:24px;
}
.proceedButton button {
	position: relative;
	width: 150px;
	background-color: #ff3636;
	font-size: 4vh;
	border: none;
	outline: none;
	color: white;
	font-weight: 300;
	margin-top: 25px;
	cursor:pointer;
	overflow: hidden;	
}

.printButton{
	display: none;
	margin-left: 25px;
}
.printButton button{
	position: relative;
	width: 250px;
	background-color: #ff3636;
	font-size: 22px;
	border: none;
	outline: none;
	color: white;
	font-weight: 300;
	margin-top: 25px;
	cursor:pointer;
	overflow: hidden;	
}
.note{
	position: absolute;
	top: 40%;
	margin-top:-100px;
	left: 50%;
	margin-left:-200px;
	width: 400px; 
	transition:1s;
	font-size: 38px;
	text-align: center;
	color: white;
	padding-top: 150px;
	font-weight: 300;
}
.homeButton button{
	position: relative;
	width: 150px;
	height: 65px;
	background-color: #ff3636;
	font-size: 32px;
	line-height: 42px;
	border: none;
	outline: none;
	color: white;
	font-weight: 300;
	margin-top: 25px;
	cursor:pointer;
	overflow: hidden;	
}
a:active, a:link, a:hover, a:visited{
	text-decoration:none;
	color:white
}
.text a:active, .text a:link, .text a:hover, .text a:visited{
	text-decoration:none;
	color:white
}

.signout{
	position:absolute;
	right:25px;
	font-size:3.5vh;
	line-height:3.5em;
	color:white;
	font-weight:100;
}
.orderHistory{
	padding:15px;
}
.order{
	background-color:#ff3636;
	margin:5px 0px 5px 20px;
	color:white;
	padding:5px;
}
.amount{
	font-size:18px;
}
.time{
	font-size:10px;
	font-family:sans-serif
}
.users{
	padding:5px 0px 5px 10px;
	

}
.users input, .orderHistory input{
	position: relative;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: white;
	line-height: 45px;
	font-size: 30px;
	margin-bottom: 10px;
	width: 500px;
	padding: 10px;
	background-color: transparent;
	outline: none;
	color: white;
	font-weight: 300;
}

.user{
	background-color:rgba(0,0,0,.4);
	margin:10px 0px 5px 0px;
	color:white;
	padding:5px;
}
.searchUsers{
	height: 70.6vh;
	overflow-x: hidden;
	overflow-y: scroll;
}
.fullname{
	font-size:18px;
}
.id, .email{
	font-size:10px;
}
.deleteUser{
	position:absolute;
	right:20px;
	top:20px;
}
.deleteUser img{
	width:20px;
}
.deleteUser img:hover{
	width:22px;
	cursor:pointer
}
.addItem input, .addItem select{
	position: relative;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: white;
	line-height: 1em;
	font-size: 2.5em;
	margin-bottom: .75em;
	width: 600px;
	padding: 10px;
	background-color: transparent;
	outline: none;
	color: white;
	font-weight: 300;
}

.addItem button{
	width: 200px;	
}
.addItem input[type=file]{
	width:280px;
	font-size:20px;
	display:inline-block;
}
.addItem select{
	color:grey;
	width: 300px;
	font-size:20px;
	margin-left:15px;
}
.addItem{
	width:600px;
	position:absolute;
	margin-left:-300px; 
	left:50%;
	top:30%;
}
.adminMenu{
	position:absolute;
	right:340px;
	top:36px;
}
.adminMenu li{
	display:inline;
	font-size:16px;
	padding:15px;	
}
.adminMenu li>a:hover{
	text-decoration: none;
	color: white;
}
#captcha{
	color:orange;
	font-size:20px;
	font-weight:100;
	padding-left: 10px;
	font-family: arial;
	display:inline;
}
.formSecond label, .formFirst label{
	color:white;
	opacity:.7;
	font-weight:100;
	font-size:14px;
	padding-left:10px;
}

.forgotPass, .gotoSignup{
	display:inline;
	float:right;
	padding: 65px 0px 0px 10px;
	text-decoration:underline;
}
.forgotPass a, .gotoSignup a{
	color:orange;
}
.forgotPass a:hover, .gotoSignup a:hover{
	color:white;
}