<div class="header">
	<div class="welcome">
		Welcome
	</div>
	<div class="brand">
		<a href="#/main"><img src="/images/logo.png" width="300px"></a>
	</div>
</div>

<div class="formSecond">
	<form class="form-auth" ng-submit="forgot()">
		<label>Enter your registered Email adress</label>
		<input type="text" ng-model="user.email" placeholder="Email" required></input>
		<label>Verification Code: </label>
		<div id="captcha"></div>
		<input type="text" placeholder="enter verification code" id="captchaText" required></input>
		<button type="submit" value="forgot"><div class="text">Next</div></button>
		<div class="forgotPass"><a href="#/login"><i>signin</i></a></div>
		<div class="gotoSignup"><a href="#/signup"><i>signup</a></i></div>
		<p class="text-warning"><br>{{error_message}}</p>
	</form>
</div>
