<div class="header">
	<div class="welcome">
		Welcome
	</div>
	<div class="brand">
		<a href="#/main"><img src="/images/logo.png" width="300px"></a>
	</div>
</div>
<div class="formSecond">
	<form class="form-auth" ng-submit="login()">
		<input type="text" ng-model="user.username" id="upper" placeholder="username" required></input>
		<input type="password" ng-model="user.password" placeholder="password" required></input>
		<label>Verification Code: </label>
		<div id="captcha"></div>
		<input type="text" placeholder="enter verification code" id="captchaText" required></input>
		<button type="submit" value="#/login"><div class="text">Next</div></button>
		<div class="forgotPass"><a href="#/forgotPassword"><i>forgot password</i></a></div>
		<div class="gotoSignup"><a href="#/signup"><i>signup</a></i></div>
		<p class="text-warning"><br>{{error_message}}</p>
	</form>
</div>
