<div class="header">
	<div class="welcome">
		Welcome,{{ current_user_name }}
	</div>
	<div class="brand">
		<img src="../images/logo.png" width="300px">
	</div>
	<ul class="adminMenu" style="list-style:none">
		<li><a href="#addItem">Add Item</a></li>
		<li><a href="#removeItem">Remove Items</a></li>
		<li><a href="#users">Users</a></li>
		<li><a href="#admin">Signout</a></li>
	</ul>
</div>
<div class="orderHistory">
	<input type="text" placeholder="Search by User"></input>
	<div class="row">
		<div ng-repeat="item in orderHistory">
			<div class="col-md-2 order">
				<div class="amount">₹ {{ item.amount }}</div>
				<div class="time">{{ item.order_time }}, {{ item.order_by }}</div>
			</div>
		</div>
	</div>
</div>