<div class="header">
	<div class="welcome">
		Welcome, {{ current_user_name }}
	</div>
	<div class="brand">
		<img src="../images/logo.png" width="300px">
	</div>
	<ul class="adminMenu" style="list-style:none">
		<li><a href="">Suggest Menu</a></li>
		<li><a href="">Order History</a></li>
		<li><a href="#">Signout</a></li>
	</ul>
</div>
<div class="note">Order Successful!
	<div class="homeButton"><button type="submit"><div class="text"><a href="#menu">Home</a></div></button></div>
</div>